
body{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
} 
.name-container{

}

h1{
padding: ;
margin-bottom: 100px;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-top: 0%;
    font: size 15px;;
    font:600;
    color: wheat;
    font-family: cursive;
}
.navbar{
display: flex;
float: right;
text-align: center;
font-size: 20px;
text-decoration: none;
}

.navbar-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    text-align: center;
    text-decoration: none;
}
.span{
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
}
.link{
    text-decoration: none;
}

.btn{
    background-color:bisque;
border-radius: 2px;
size: 50px;
text-align: center;
}
 /* image styles main section */

 main{
    background-color: aquamarine;
 }
.img-container{
    border: 10px;
    height: 100%;
    width: 100%;
fill-rule: nonzero;
}
h3{
    display: flex;
    margin: 10px;
    padding: 5px;
    justify-content: left;
    color: rgb(0, 223, 15);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: 500;
    font-weight: 600;
}
.float{
justify-content: left;
margin:15px;
}

/* footer section css */

.center{
justify-content: center;
align-items: center;
text-align: center;
color: whitesmoke;
text-decoration: solid;
text-shadow: 15px;
}
form{
    display: inline-flexbox;
}
.email{
    color: black;
}

.email:hover{
    box-shadow: 5px;
    cursor: pointer;
    text-shadow: 1px;
}